@media (max-width: 1000px) {
    body {
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        aside {
            visibility: hidden;
            display: none;
        }
        main {
            position: relative;
            display: grid;

            justify-self: center;
            align-self: center;

            width: 100%;
            height: 100vh;

            grid-column-start: 1;
            grid-column-end: 4;

            grid-template-rows: 45% 45% 10%;
            grid-template-columns: 100%;
            
            padding: 40px 25px 0px 15px; // Perfect measurements for MotoG4

            .folder--logger {
                width: 100%;
                .container-logger {
                    #btn--mobile--login {
                        color: $grey-white;

                        position: relative;
                        display: inline-block;
                        visibility: initial;
                        text-align: center;

                        background: $sature-blue;
                        border: 3px solid $bright-blue ;

                        width: 80px;
                        height: 30px;
                        font-size: 12px;
                        padding: 10px 0px 20px 0px;
                        border-radius: 1rem;

                        grid-row-start: 1;
                        grid-row-end: 1;
                        grid-column-start: 1;
                        grid-column-end: 5;
                    }
                    .console--btn-holder {
                        #btn--confirm--user {
                            
                        }
                    }
                }
            }
            #mobile--menu {
                position: absolute;
                visibility: hidden;
                cursor: pointer;
                width: 50px;
                height: 50px;
                right: 0px;
                z-index: 50;
            }
            .mobile--nav{
                position: absolute;
                display: flex;
                visibility: visible;
                flex-direction: column;
                justify-content: center;
                align-content: center;
                justify-items: center;
                background: $console-blue;
                border: 3px $bright-blue solid;
                width: 50px;
                height: 50px;
                right: 0px;
                z-index: 50;
                span {
                    position: inherit;
                    display: inline-block;
                    content: "";
                    width: 30px;
                    height: 2px;
                    background: $grey-white;
                    z-index: 5;
                    margin-left: 7px;
                    transition: 0.5s transform;
                    &::before, &::after {
                        content: "";
                        position: inherit;
                        display: inline-block;
                        background: inherit;
                        width: inherit;
                        height: inherit;
                        transition: 0.5s transform;
                    }
                    &::before {
                        top:  -10px;
                    }
                    &::after {
                        bottom: -10px;
                    }
                }
            }
            .folder {
                .container--register {
                    grid-template-rows: 10% 5% 70% 5%;
                    .register--mobile-class{
                        position: relative;
                        display: grid;
                        grid-template-columns: 15% 15% 15% 15% 15% 15%;
                        width: 100%;
                        height: 100%;
                        justify-content: center;
                        label {
                            justify-self: center;
                            align-self: center;
                            color: $grey-white;
                            font-size: 12px;
                        }
                        input, select {
                            background: $sature-blue;
                            color: $grey-white;
                            height: 100%;
                            font-size: 12px;
                        }
                    }
                    .register--title {
                        grid-template-columns: 28% 14% 18% 9% 11% 10% 15%;
                        p {
                            font-size: 14px;
                        }
                        label {
                            font-size: 10px;
                        }
                        select {
                            font-size: 10px;
                            scrollbar-width: thin;
                        }
                    }
                    .register {
                        padding: 3px 5px;
                        .table--header {
                            display: grid;
                            align-content: flex-start;
                            align-items: flex-start;
                            grid-template-columns: 20% 50% 30%;
                            p {
                                padding: 0px 2px;
                                font-size: 12px;
                            }
                        }
                        .register--scroll {
                            p {
                                font-size: 10px;
                            }
                            .table--folder {
                                .table--operation {
                                    grid-template-columns: 20% 50% 30%;
                                }
                            }
                        }
                    }
                }
                .console--form {
                    label {
                        font-size: 12px;
                    }
                    input, select {
                        height: 100%;
                        font-size: 12px;
                    }
                }
                .console--btn-holder {
                    .button {
                        font-size: 14px;
                    }
                    #btn--mobile--login {
                        content: "";
                        color: white;
                        position: relative;
                        display: inline-block;
                        visibility: initial;
                        width: 200px;
                        height: 100px;
                        background: red;
                        grid-row-start: 1;
                        grid-row-end: 1;
                        grid-column-start: 1;
                        grid-column-end: 5;
                    }
                }
            }
        }
        .container--nav {
            display: none;
        }
    }

    .mobile {
        visibility: visible;
        display: flex;
    }
    ul {
        position: absolute;
        display: inline-block;
        content:  '';
        width: 100%;
        height: 100vh;
        padding-top: 100px;
        background: rgba($console-blue, 0.5);
        z-index: 10;
        list-style: none;
        li {
            text-align: center;
            color: $grey-white;
            font-weight: bold;
            border: 3px solid $bright-blue;
            margin: 0px 25%;
            margin-bottom: 20px;
            border-radius: 1rem;
            padding: 5px;
            background: $sature-blue;
        }
    }
    .cross {
        background: transparent !important;
        &::before{
            background: $grey-white !important;
            margin-top: 10px;
            transform: rotate(45deg);
            transition: 0.5s transform;
        }
        &::after {
            background: $grey-white !important;
            margin-bottom: 10px;
            transform: rotate(-45deg);
            transition: 0.5s transform;
        }
    }
}
