@import "variable";
@import "main";
@import "nav";
@import "register";
@import "logger";
@import "mobile";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

body {
    position: relative;
    display: grid;
    grid-template-columns: 5% 90% 5%;
}

aside:nth-child(1) {
    height: 100vh;
    background: linear-gradient( to right, #474C6F , #232850);
}

aside:nth-child(3) {
    background: linear-gradient( to left, #474C6F , #232850);
}

.hidden {
    visibility: hidden;
    display: none;
}

.mobile--nav, #btn--mobile--login{
    visibility: hidden;
    display: none;
}



// 720 - 